<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
   
    
      <section class="project_form">
        <%= render 'shared/project_floorplan_form' %>
      </section>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Fieldwire Prints!</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>