<div class="col-md-12">
  <h2><%= link_to "Add more projects", root_path %></h2>
  <% if @user.projects.any? %>
    <h3>Projects (<%= @user.projects.count %>)</h3>
    <ol class="projects">
      <%= render @projects %>
    </ol>
  <% end %>
</div>