<div class="col-md-6 col-md-offset-3">
    <h1>Add a project!</h1>
    <%= form_for [@project, @floorplan ] do |f| %>
      
        <p>Project Name</p>
        <%= f.text_field :name%>
      
       
        <p>Floorplans</p>
        <%= f.file_field :blueprints, multiple: true %>

          
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>